body {
    background-color: rgb(238, 235, 235);
}

a:link, a:hover, a:visited, a:active, a {
    text-decoration:none;
    color:black;
 }

 ul {
    display: flex;
    list-style: none;

}

li {
    list-style: none;

}
.navbar {
    display: flex;
    background-color: #bc3b6a;
    height: 45px;
    .ada {
        height: 35px;
        margin-left: 90px;
        margin-right: 10px;
        margin-top: 4px;
    }
    .input {
        width: 70%;
    }

    .icono {
        padding: 1%;
        margin: none;
    }
  
}

.subnavbar {
    width: 100%;
    height: 20px;
    display: flex;
    margin: 0.5%;
    .input {
        width: 85%;
        height: 21px;
    }

}

.cadaProducto {
    width: 100%;
    display: flex;
    justify-content: center;
}

.primerTitulo {
    font-size: 15px;
}

.producto {
    display: flex;
    justify-content: space-between;
    width: 55%;
    background-color: white;
    margin-top: 4px;
    .info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 30%;
    }
    .camion {
        width: 30%;
        height: 22px;
        margin-left: 10px;
        position: relative;
        bottom: 38px;
        left: 72px;
    }

    .ubicacion {
        width: 30%;
        height: 25%;
        color: grey;
        text-align: center;
    }

    .imagen {
        width: 20%;
        .tamañoImagen {
            width: 100%;
        }
        
    }
}

.todo {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;    
}

.costado {
    width: 100%;
    margin-bottom: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .imagenDelProducto {
        width: 50%;
        margin-right: 45px;
    }
    img {
        width: 100%;
    }
    .datazo {
        margin-right: 40px;
        margin-top: 15px;
    }
}

.detalleCategorias {
    width: 75%;

}

.vendidos {
    font-size: 13px;
}

.titulo {
    font-weight: bold;
    font-size: 25px;
}

.precio {
    font-size: 35px;
}

.decimales {
    font-size: 15px;
    position: relative;
    bottom: 15px;
}

.comprar {
    width: 70%;
    height: 9%;
    border-radius: 4px;
    background-color:rgb(40, 163, 212);
    color: white;
    border-style: none;
    margin-left: 45px;
}

.descripcion {
    text-align: inherit;
    width: 50%;
    color: gray;
    text-align: -webkit-match-parent;
    margin-left: 25px;
}

.detalle {
    width: 70%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.volver {
    width: 25%;
    height: 30%;
    background-color: #bc3b6a;
    color: white;
    border-style: none;
    border-radius: 4px;
}